*.*~
/*.lan
/*.lan
/.DS_Store
*.lan
*.cache
*~
/ido.last
/recentf
/.mc-lists.el
/bookmarks
/projectile-bookmarks.eld
/ac-comphist.dat
./TAGS
/.cask/24.5.1/elpa/powerline-20160601.724/powerline-themes.el
/super-emacs/*~
